// Colors (Style Guide)
$paua: #1d1554; /* dark af blue */
$blue-gem: #4b39b2; /* kinda blue kinda purple */
$slate-blue: #7552cc; /* purple */
$medium-purple: #a373f9; /* light purple */
$mauve: #c596fe; /* lighter purple */
$blue-chalk: #ecd7ff; /* even lighter purple */
$turquoise-blue: #70d0e0; /* light blue */
$light-cyan: #c7fffb; /* light ass blue */

// Default Letter Spacing
$logo-tracking: 75;

// Typography
$base-font: 'Roboto';
$sub-font: 'Roboto Slab';
