// Colors (Style Guide)
$paua: #1D1554;
$blue-gem: #4B39B2;
$slate-blue: #7552CC;
$medium-purple: #A373F9;
$mauve: #C596FE;
$blue-chalk: #ECD7FF;
$turquoise-blue: #70D0E0;
$light-cyan: #C7FFFB;

// Default Letter Spacing
$logo-tracking: 75;

// Typography
$base-font: 'Roboto';
$sub-font: 'Roboto Slab';