@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,600');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300,500');

html {
  font-size: 1em;
  font-display: swap;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('/static/assets/minified-websitebackground-lg.png') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
}

main {
  height: 100%;
}

a {
  color: #c7fffb;
}
a:hover {
  color: #70d0e0;
  text-decoration: none;
}
