@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,600');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300');

html,body {
  height: 100%
}
body {
  background: url('/static/img/abstract.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2.5em;
}

h2 {
  font-size: 1.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 2em;
}

h2 .alt {
  font-size: 1.9em;
  font-family: 'Roboto-Slab', serif;
  font-weight: 300; /* Thin */
  margin-bottom: 2em;
}

p {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: 1.5em;
  margin-top: 1.5em;
}

p .alt {
  font-size: 1.2em;
  font-family: 'Roboto-Slab', serif;
  font-weight: 300; /* Thin */
  margin-top: 1.5em;
  margin-top: 1.5em;
}

.logo {
  display: block;
  width: 8em;
  height: 8em;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.brand-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

.brand-description {
  font-family: 'Roboto-Slab', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.seperator {
  font-weight: 600;
}
.coming-soon {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

.contact {
  margin-top: 8em;
  font-size: 1em;
}
@media (min-width: 576px) {
  .logo {
    width: 10em;
    height: 10em;
    margin-top: 13em;
  }
  .contact {
    margin-top: 8em;
  }
}
