@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,600');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  height: 100%;
  background: url('/static/img/abstract.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2.5em;
}

h2 {
  font-size: 1.7em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 2em;
}

h2 .alt {
  font-size: 1.9em;
  font-family: 'Roboto-Slab', serif;
  font-weight: 300; /* Thin */
  margin-bottom: 2em;
}

p {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  margin-top: 1.5em;
  margin-top: 1.5em;
}

p .alt {
  font-size: 1.2em;
  font-family: 'Roboto-Slab', serif;
  font-weight: 300; /* Thin */
  margin-top: 1.5em;
  margin-top: 1.5em;
}

.event-date {
  font-size: 3em;
  margin-top: 4em;
}

.wordmark {
  display: block;
  width: 16em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  fill: white;
}

.countdown-timer {
  height: 3em;
  margin-top: 8em;
  font-size: .6em;
}


.contact {
  margin-top: 15em;
  font-size: .5em;
}
@media (min-width: 576px) {
  .event-date {
    font-size: 5em;
    margin-top: 1.5em;
  }
  .wordmark {
    display: block;
    width: 30em;
    height: 3em;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    fill: white;
  }
  .countdown-timer {
    height: 3em;
    margin-top: 8em;
    font-size: 1em;
  }
  .coming-soon {
    margin-top: 2.2em;
  }
  .contact {
    margin-top: 12em;
    font-size: .8em;
  }
}
