language: node_js
node_js:
  - "stable"
before_install:
  - npm i -g npm@6.6.0
install:
  - npm install
before_deploy:
  - npm run build
  - npm run export
deploy:
 - provider: s3
   access_key_id: $RP_ACCESS_KEY
   secret_access_key: $RP_SECRET_KEY
   bucket: $RP_BUCKET_NAME
   skip_cleanup: true
   local_dir: out
   on:
    branch: master
 - provider: s3
   access_key_id: $RP_ACCESS_KEY
   secret_access_key: $RP_SECRET_KEY
   bucket: $RP_BUCKET_NAME
   skip_cleanup: true
   local_dir: out
   on:
    branch: staging
after_deploy:
  - ./scripts/invalidate.sh
