@import '../../static/stylesheets/variables';

.faqSection::before,
.faqSection::after {
  left: 0;
  height: 90px;
  background: white;
}

.faqDropdown {
  background-color: $slate-blue;
}
.faqDropdown:focus,
.faqDropdown:hover,
.faqDropdown:active {
  background-color: $medium-purple;
}

.faqSection {
  border: none;
  font-size: 1.1em;
}
.faqPrompt {
  margin: 0.75em auto;
}
.faqPrompt h3 {
  margin-top: 1.6em;
  margin-bottom: 0.75em;
  font-size: 1.75em;
}

@media (max-width: 767.98px) {
  .faqPrompt h3 {
    font-size: 1.5em;
  }
  .faqSection {
    font-size: 1.1em;
  }
}
