@import '../../static/stylesheets/variables';

.faq-section::before,
.faq-section::after {
  left: 0;
  height: 90px;
  background: white;
}

/* Prompt Styles */
#faq-dropdown {
  background-color: $slate-blue;
  border: none;
  font-size: 1.1em;
}
#faq-prompt {
  margin: 0.75em auto;
}
#faq-prompt h3 {
  margin-top: 1.6em;
  margin-bottom: 0.75em;
  font-size: 1.75em;
}

/* Question Card Styles */
.arrow-right {
  float: right;
}

.arrow-center {
  float: none;
}

.card {
  padding: 0.5em;
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.05);
  margin-bottom: 0.5em;
}
.card-title {
  margin: 0;
}
.card-text {
  margin-top: 0.75em;
}

.question-card-mobile p {
  margin-bottom: 0.3em;
}

@media (max-width: 767.98px) {
  .faq-section {
    border-radius: 3em;
  }
  #faq-prompt h3 {
    font-size: 1.5em;
  }
  #faq-dropdown {
    font-size: 1.1em;
  }
  .card-body {
    padding: 0.5em;
  }
  .card-title {
    margin-bottom: 0;
  }
}

.slide-enter {
  height: 0px;
}

.slide-enter.slide-enter-active {
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0.5s ease, opacity 0.05s 0.45s;
  -moz-transition: height 0.5s ease, opacity 0.05s 0.45s;
  transition: height 0.5s ease, opacity 0.05s 0.45s;
}

.slide-leave.slide-leave-active {
  height: 0px;
  opacity: 0;
  -webkit-transition: height 0.5s ease, opacity 0.05s 0.45s;
  -moz-transition: height 0.5s ease, opacity 0.05s 0.45s;
  transition: height 0.5s ease, opacity 0.05s 0.45s;
}
