.dashboardAnimation {
  z-index: 10;
}
.x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  height: 100%;
}

.logoRow {
  height: 12em;
  background-color: #ffffff;
}

.rpLogo {
  width: 5em;
  height: 5sem;
  margin-bottom: 2em;
  margin-top: 5em;
}

.rpWordmark {
  width: 15em;
  height: 15em;
  margin-bottom: 2em;
}

.dashboardContainer {
  height: 100%;
  max-width: 2000px;
  background-size: auto 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.twitterContainer {
  background-color: #f2f5fe;
  border-radius: 5px;
  height: 60vh;
  overflow: hidden;
}

.twitterTitle {
  color: #1d1554;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
}
