.dashboardAnimation {
  z-index: 10;
}
.x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  max-height: 65%;
  margin-top: 1.75em;
  padding-right: 1em;
  padding-left: 1em;
  width: auto;
}

.logoRow {
  height: 10em;
  border-radius: 30%;
  background-color: #ffffff;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.rpLogo {
  width: 5em;
  height: auto;
}

.rpWordmark {
  width: 15em;
  height: auto;
}

.dashboardContainer {
  height: 100%;
  max-width: 2000px;
  background-size: auto 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.twitterContainer {
  background-color: #f2f5fe;
  border-radius: 5px;
  height: 60vh;
  overflow: hidden;
}

.twitterTitle {
  color: #1d1554;
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
}
