.countdownTimer {
  display: block;
  position: absolute;
  bottom: 24vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0.4em;
  font-family: 'Roboto';
}

.countdownTimer p {
  margin: 0 auto;
  font-size: 2em;
}
.countdownTimer span {
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 300;
}

@media (min-width: 350px) {
  .countdownTimer {
    font-size: 0.6em;
  }
}

@media (min-width: 576px) {
  .countdownTimer {
    font-size: 0.8em;
    bottom: 18vh;
  }
}

@media all and (min-width: 992px) and (max-height: 550px) {
  .countdownTimer {
    display: none;
  }
}

@media all and (max-height: 450px) {
  .countdownTimer {
    display: none;
  }
}
