img {
  height: 100px;
  width: 100px;
}

.timeline-block {
  display: flex;
  position: relative;
  z-index: 1;
  border: 2px solid black;
  border-radius: 5px;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}
