@import 'static/stylesheets/variables.scss';

.topPadding {
  padding-top: 6em;
}

.tagline {
  font-family: 'Roboto Slab';
  font-weight: 200;
  font-size: 2.5em;
  padding: 0;
  margin: 0.5em 0;
}

.timelineContainer {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: none;
  &::after {
    // this is the timeline vertical line
    content: '';
    position: absolute;
    width: 3px;
    background-color: $slate-blue;
    top: 20px;
    bottom: 0;
    left: 7%;
    margin-left: -3px;

    @media (min-width: 768px) {
      left: 12%;
    }

    @media (min-width: 992px) {
      left: 22%;
    }
  }
}
