@import 'static/stylesheets/variables.scss';

.section {
  padding-top: 6em;
}

.timeline-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  &::after {
    // this is the timeline vertical line
    content: '';
    position: absolute;
    width: 6px;
    background-color: $slate-blue;
    top: 20px;
    bottom: 100px;
    left: 30%;
    margin-left: -3px;
  }
}
