@import 'static/stylesheets/variables.scss';

.timelineBlock {
  padding: 10px 40px;
  position: relative;
  width: 100%;
  &::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: calc(30% - 12.5px);
    background-color: white;
    border: 4px solid $slate-blue;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
  }
  left: 0;
  &::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 10%;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
}

.date {
  display: inline-block;
  width: 30%;
}

.content {
  display: inline-block;
  position: relative;
  max-width: 60%;
  left: 5%;
}

.title {
}

.description {
}
