.button-container {
  display: flex;
  justify-content: center;
}
.btn-question {
  background-color: #7552cc;
  color: white;
  border-radius: 1em;
  padding: 1em;
}
.btn-question- .questions {
  margin-top: 2em;
}
.card {
  padding: 0.5em;
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 0%, 0.05);
  margin-bottom: 0.5em;
}
.card-row {
  text-align: center;
}
.card-block {
  display: inline-block;
}
