/* Footer Styles */
footer {
  padding: 2em;
  padding-top: 5em;
}
.footerText {
  margin: 0 auto;
  font-weight: 200;
  font-size: 0.8em;
}
.footerText p {
  color: white;
  margin: 0 auto;
}
.organized {
  font-size: 0.85em;
  margin: 10px auto;
  font-weight: 400;
}
.contact {
  font-size: 0.7em;
}
.link {
  color: #c7fffb;
}
