.videoContainer {
  position: relative;
}

.videoBackground {
  position: fixed;
  z-index: -100;
}

.dashboard {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background: url('/static/assets/minified-websitebackground-lg.png') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 1920px;
  height: 1080px;
}
