/* Landing Styles */
.leadContent {
  padding-top: 20vh;
}

.wordmark {
  display: block;
  width: 20em;
  height: 4.5em;
  margin: 0.1em auto;
  fill: white;
}
.eventDate {
  margin: 10px auto;
  margin-top: 1.3em;
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-size: 1.6em;
  color: white;
}
.virtualUpdate {
  margin: 10px auto;
}

.tagline {
  margin: 10px auto;
  font-weight: 100;
  font-size: 0.8em;
  font-family: 'Roboto Mono';
}

@media (min-width: 576px) {
  .wordmark {
    width: 30em;
    height: 6em;
  }
  .eventDate {
    font-size: 1.9em;
  }
  .tagline {
    font-size: 0.8em;
  }
  .footerText {
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  .eventDate {
    font-size: 2.1em;
    margin-top: 2em;
  }
  .wordmark {
    width: 35em;
    height: 6em;
  }
  .tagline {
    font-size: 1.1em;
  }
}

@media all and (min-width: 992px) and (max-height: 550px) {
  .eventDate {
    display: none;
  }
  .tagline {
    display: none;
  }
}

@media all and (max-height: 450px) {
  .eventDate {
    display: none;
  }
  .tagline {
    display: none;
  }
}

/*  Scroll Down Button */
.scrollDown {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scrollDownText {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100px;
  color: white;
  left: -34px;
}
.scrollDown {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  // border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.scrollDown:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: '';
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
