.backdrop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: url('/static/assets/triangles.png') no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.whiteBox {
    
    background-color: white;
    color: black;
    width: 40%;
    height: 95%;
    border-radius: 10px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.form {
    padding-top: 3%;
    color: grey;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
}

.inputBox {
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
}

.inputBox:active {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.field {
    padding-top: 1em;
    
}

.btn {
    color: white;
    border: none;
    background-color: #0cbabb;
    border-color: #0cbabb;
    height: 2.5em;
    text-align: center;
    line-height: 0 !important;
    margin: 5px;
    border-radius: 4px;
}

.btnRegisterText {
    font-size: 0.8em;
    font-weight: 600;
}

.a:hover {
    color: #ffffff;
    background-color: red;
}
  