.eventsContainer {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #f2f5fe;
  border-radius: 5px;
  text-align: center;
}

.containerTitle {
  color: #1d1554;
}

.dashboardEvent {
  padding: 1em;
}

.eventTitle {
  color: #7552cc;
}

.eventDescription {
  color: #4b39b2;
}
