.eventsContainer {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  height: 46em;
  // overflow-y: scroll;
}

.containerTitle {
  color: #4b39b2;
  font-size: 1.5vw;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.dashboardEvent {
  border-radius: 1em;
  background-color: #ffffff;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}

.eventTitle {
  color: #7552cc;
}

.eventDescription {
  color: #1d1554;
}
