.navbar {
  height: 4em;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.leftNav {
  position: absolute;
  left: 1em;
}
.rightNav {
  position: absolute;
  right: 1em;
  font-size: 1.3em;
}
.navSocialMediaIcons {
  display: none;
}
.navSocialMediaIcons i {
  margin-right: 2em;
  color: #7552cc;
}
.navSocialMediaIcons i:hover {
  color: #ecd7ff;
}

.btnRegister {
  color: white;
  border: none;
  background-color: #7552cc;
  border-color: #7552cc;
  font-weight: 600;
}
.btnRegisterText {
  height: 1.8em;
  line-height: 1.8em;
  padding: 0 1em;
  font-size: 0.8em;
  text-align: center;
}
.btnRegister:hover {
  background-color: #ecd7ff;
  color: #7552cc;
}

.bgBlue {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 22px -9px rgba(0, 0, 0, 0.75);
}

.navbarLogo {
  display: inline-block;
  width: 3em;
  height: 3em;
}

@media (min-width: 576px) {
  .leftNav {
    left: 2em;
  }
  .rightNav {
    right: 2em;
  }
}

@media (min-width: 992px) {
  .navSocialMediaIcons {
    display: inline-block;
  }
  .navbar-logo {
    width: 3.5em;
    height: 3.5em;
  }
  .navbar {
    height: 4.5em;
  }
}
