.aboutSection {
  min-height: 0;
}

.socialMediaIcons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.socialMediaIcons i {
  font-size: 2em;
  color: #7552cc;
}
.socialMediaIcons i:hover {
  color: #ecd7ff;
}
